{% load googletags %} 
{% load tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{% firstof LANGUAGE_CODE 'en' %}" lang="{% firstof LANGUAGE_CODE 'en' %}">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/blueprint.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css" />
        {% block css %}{% endblock %}
        <link rel="stylesheet" type="text/css" media="print" href="{{ MEDIA_URL }}css/print.css" /> 
        <!--[if IE]><link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/ie.css" /><![endif]--> 
        {% block extra-head %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block header %}
            <div id="header" class="block">
	    		<div class="column span-20"> 
	    			<h1 id="logo"><a href="/">Campaign Metrics</a></h1> 
	    		</div> 
		    	<div id="top_nav" class="column last span-4 right"> 
                    {% if user.is_authenticated %}
                        Welcome, {{ user.username }} {% if not google_user %} <a href="/logout"> {% else %} <a href="{% google_logout_url "/" %}">{% endif %}Logout</a>
                    {% else %}
                        <a href="/login">Login</a>  / <a href="/register">Register</a>
                    {% endif %}
	    		</div> 
	    		{% block menu %}
	    		<div id="menu" class="column span-24"> 
                    <ul class="tabs"> 
                        <li><a class="{% active request '^/$|home' %}" href="/">Home</a></li> 
                        <li><a class="{% active request 'about' %}"  href="/about">About</a></li>
                        {% if user.is_authenticated %}
                        <li><a class="{% active request 'campaign' %}"href="{% url myapp.views.list_campaigns %}">Campaigns</a></li>
                        {% endif %}
                    </ul> 
	    		</div>
	    		{% endblock %}
            </div>
            
            {% endblock %}
	    	<div id="notices" class="block"> 
            {% block content-header %}
                {% if error %}<div class="error">{{ error }}</div>{% endif %}
                {% if info %}<div class="info">{{ info }}</div>{% endif %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="info">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endblock %}
	    	</div> 
            <div id="body" class="block">
            {% block content %}{% endblock %}
            </div>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/mootools/1.2.2/mootools-yui-compressed.js"></script>
        {% block js %}{% endblock %}
    </body>
</html>